<form action="/stock/update/<%= stock.id %>" method="POST" >
  <h2>Create a new Stock for <%= customer.name %></h2>

  <input type="hidden" name="owner" value="<%- customer.id %>" />

  <input value="<%= stock.symbol %>" type="text" name="symbol" ><br />
  <input value="<%= stock.name %>" type="text" name="name" ><br />
  <input value="<%= stock.number_of_shares %>" type="float" name="number_of_shares" ><br />
  <input value="<%= stock.price %>" type="float" name="price" ><br />

  <input type="submit" value="Edit Stock" />
</form>
