<h1><%= stock.name %></h1>
<hr>
<h3>Symbol: <%= stock.symbol %></h3>
<h3>Number of Shares: <%= stock.number_of_shares %></h3>
<h3>Price: <%= stock.price %></h3>
<h3>Date of Purchase: <%= stock.date_purchased %></h3>

<form action="/stock/new" method="POST">
  <input type="hidden" value="<%= customer.id %>" name="owner" />
  <input type="submit" value="Add Stock" />
</form>
