
<h1><%= customer.name %></h1>
<hr>
<h3>Address: <%= customer.street_address %></h3>
<h3><%= customer.city + ', ' + customer.state + ', ' + customer.zip%></h3>
<h3>Email: <%= customer.email %></h3>
<h3>Home Phone: <%= customer.home_phone + '     Cellphone: ' + customer.cellphone%></h3>

<hr>

<h3> Stocks </h3>
<table>
  <tr>
    <th>Symbol</th>
    <th>Name</th>
    <th>Number of Shares</th>
    <th>Price Purchased</th>
    <th>Current Price</th>
    <th>Comparison ( - symbolizes drop in value)</th>
    <th>Date Purchased</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% _.each(customer.stocks, function(stock) { %>
  <tr data-id="<%= stock.id %>" data-model="stock" >
    <td><%= stock.symbol %></td>
    <td><%= stock.name %></td>
    <td><%= stock.number_of_shares %></td>
    <td><%= '$' + stock.price %></td>
    <td><%= '$' + stock.current_price %></td>
    <td><%= stock.current_price - stock.price %></td>
    <td><%= stock.date_purchased %></td>

    <td><a href="/stock/show/<%= stock.id %>">Show</a></td>
    <td><a href="/stock/edit/<%= stock.id %>">Edit</a></td>
    <td><a href="/stock/destroy/<%= stock.id %>">Delete</a></td>
  </tr>
  <% }); %>
</table>


<form action="/stock/new" method="POST">
  <input type="hidden" value="<%= customer.id %>" name="owner" />
  <input type="submit" value="Add Stock" />
</form>


<table>
  <tr>
    <th>Total Current Stock Price Summary</th>
  </tr>


  <% var stock_total = 0 %>
  <% _.each(customer.stocks, function(stock) { %>
  <tr data-id="<%= stock.id %>" data-model="stock" >
    <% stock_total += stock.current_price * stock.number_of_shares %>
  <% }); %>
  </tr>

  <tr><td> <%= stock_total %></td></tr>

</table>




<hr>


<h3> Investments </h3>
<table>
  <tr>
    <th>Category</th>
    <th>Description</th>
    <th>Acquired Value</th>
    <th>Acquired Date</th>
    <th>Recent Value</th>
    <th>Recent Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% _.each(customer.investments, function(investment) { %>
  <tr data-id="<%= investment.id %>" data-model="investment" >
    <td><%= investment.category %></td>
    <td><%= investment.description %></td>
    <td><%= investment.acquired_value %></td>
    <td><%= investment.acquired_date %></td>
    <td><%= investment.recent_value %></td>
    <td><%= investment.recent_date %></td>

    <td><a href="/investment/show/<%= investment.id %>">Show</a></td>
    <td><a href="/investment/edit/<%= investment.id %>">Edit</a></td>
    <td><a href="/investment/destroy/<%= investment.id %>">Delete</a></td>
  </tr>
  <% }); %>
</table>


<form action="/investment/new" method="POST">
  <input type="hidden" value="<%= customer.id %>" name="owner" />
  <input type="submit" value="Add Investment" />
</form>

<table>
  <tr>
    <th>Total Current Investment Price Summary</th>
  </tr>


  <% var investment_total = 0 %>
  <% _.each(customer.investments, function(investment) { %>
  <tr data-id="<%= investment.id %>" data-model="investment" >
    <% investment_total += investment.recent_value %>
    <% }); %>
  </tr>

  <tr><td> <%= investment_total %></td></tr>

</table>
